[submodule "third_party/wasm-micro-runtime"]
	path = third_party/wasm-micro-runtime
	url = git@github.com:bytecodealliance/wasm-micro-runtime.git
[submodule "build"]
	path = build
	url = git@github.com:christopherfujino/sol_builds.git
